@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-sm antialiased;
}

body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
}

body {
  @apply bg-body bg-contain bg-repeat-x;
}
